.rat-form {
    width: 100%;
    margin: 2% auto;
}

.rat-form form {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.btn {
    display: block;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

div.col img {
    margin: auto;
    width: 90%;
}

hr {
    border: none;
    border-left: 1px solid black;
    height: auto;
    width: 3%;
    margin-left: 2%;
}

h5 {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.info {
    margin-top: 5%;
    font-size: 85%;
    text-align: center;
}

div.col input {
    display: block;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: #17a2b8;
}

div.col select {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align-last: center;
    background-color: white;
    color: #17a2b8;
    width: auto;
    border-color: #17a2b8;
}

div.col input.btn-info {
    width: 30%;
}

.errorr {
    font-size: 76%;
    margin: 2% auto;
    color: red;
    text-align: center;
    font-weight: bolder;
}